<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net48" />
  <package id="EPPlus" version="6.1.0" targetFramework="net472" />
  <package id="EPPlus.Interfaces" version="6.1.0" targetFramework="net472" />
  <package id="EPPlus.System.Drawing" version="6.1.0" targetFramework="net472" />
  <package id="GemBox.Spreadsheet" version="49.0.1153" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
</packages>